#blue-text{background-color:blue;}
h2[draggable]{background-color: purple;}
.red-text{background-color:red;}
h2{background-color: darkgreen;}  
h2{background-color: lime;} 
h2 {background-color: green;} 
